@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

li, ul, a {
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 100px;
    height: 100px;
}

nav .logo {
    padding: 10px 0px 0px 35px;
}

nav ul.navbar{
    display: flex;
    padding: 20px;
}

nav ul.navbar li{
    padding: 10px;
}


.nav-link {
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: Black;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s all linear;
}

.nav-link:hover {
    color: #B2D56F;
    border-bottom: 2px solid #B2D56F;
    transition: 0.3s all linear;
}

body > nav > div.nav-items > ul > div:nth-child(4){
    display: flex;
    align-items: center;
    margin: 0 35px 0 75px;
}

body > nav > div.nav-items > ul > div:nth-child(4) > select{
    width: 25x;
    height: 40px;
    border-radius: 50%;
}

body > nav > div.nav-items > ul > div:nth-child(4) > select{
    height: 40px;
    border-radius: 50%;
}

body > nav > div.nav-items > ul > div.connection{
    display: flex;
    align-items: center;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:transparent;
    border-radius:14px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:15px;
    font-weight:bold;
    padding:8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

/* Menu Responsif */

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background: blue;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

/* About Area */

.about-content {
    display: flex;
    justify-content: center;
    width: 90vw;
    padding: 35px;
    margin: 30px auto;
    font-size: .9vw;
    color: white;
}

.about-content img {
    width: 30vw;
    height: 28vw;
    background-color: white;
    border-radius: 0 3vw;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C3540;
}

.about h2 {
    margin: 3vw;
}

.about #relou-title {
    font-size: 2vw;
    color: #2C3540;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about .texts {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3vw;
}

.about .texts p {
    width: 45%;
}

/* Contact Area */

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 35px;
    margin: 30px 0;
    font-size: .9vw;
}

.contact-content h2 {
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

.contact-content .relou-title-sub {
    color: black;
}

#relou-title {
    position: relative;
    font-size: 1.8vw;
    letter-spacing: .5px;
    transform: translate(-.3vw, -.3vw);
    color: white;
    pointer-events: none;
    text-shadow: -1px -1px 0 #2C60AC, 1px -1px 0 #2C60AC, -1px 1px 0 #2C60AC, 1px 1px 0 #2C60AC;
}

.relou-title-sub {
    position: absolute;
    color: white;
    transform: translate(-.6vw, .3vw);
    text-shadow: none;
}

.contact-form {
    width: 40vw;
    font-size: .6vw;
    margin-top: 2vw;
}

.contact-form input,
.contact-form textarea {
    font-size: 1vw;
}

.req-infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.req-infos input {
    width: 45%;
    height: 3vw;
    padding: 1vw;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 1vw;
}

.contact-form textarea {
    width: 100%;
    height: 12vw;
    padding: 1.5vw;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 1.8vw;
    resize: none;
}

.contact-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 3vw;
    margin-left: auto;
    margin-top: 1vw;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 1.2vw;
}

.contact-form button img {
    width: 100%;
    transform: translate(0, -3%);
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 2vw;

    background-color: #2C60AC;
    color: white;
}

footer img {
    width: 15vw;
    height: 10vw;
}

.footer-infos {
    display: flex;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}

.footer-col.social {
    justify-content: flex-end;
}

.footer-col h3 {
    font-size: calc(.8vw + 6px);
    margin-bottom: 1vw;
}

.col-infos {
    font-size: calc(.7vw + 5px);
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
    border-radius: 5vw;
}

@media(max-width:600px){

    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu{
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-link{
        display: block;
        margin: 1rem 0;
    }

    .menu-icon{
        display: flex;
        padding: 25px;
    }    

}

@media (max-width:400px){

    .nav-link{
        color: white;
    }

    .navbar{
        width: 100%;
    }

}

