@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

h1 {
    font-size: unset;
    font-weight: unset;
}

li, ul, a {
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 100px;
    height: 100px;
}

nav .logo {
    padding: 10px 0px 0px 35px;
}

nav ul.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav ul.navbar li{
    padding: 10px;
}

div.logo{
    cursor: pointer;
}

.nav-link {
    position: relative;
    font-size: 0.94rem;
    padding: 4px 8px;
    color: Black;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #B2D56F;
    transition: 0.3s ease;
}

.nav-link::after {
    position: absolute;
    content: '';
    bottom: -.5vw;
    left: 0;
    width: 100%;
    height: .1vw;
    background-color: #B2D56F;
    transition: 0.3s ease;
    transform: scale(0, 1);
}

.nav-link:hover::after {
    transition: 0.3s ease;
    transform: scale(1);
}

body > nav > div.nav-items > ul > div:nth-child(4){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 35px 0 75px;
}

.select-language {
    position: relative;
}

.select-language button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2C3540;
    border-radius: 2vw;
    font-size: 1vw;
    padding: .5vw;
    width: 3vw;
    height: 3vw;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

#selectable {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    transition: .5s ease;
}

#selectable.active {
    opacity: 1;
    z-index: 1;
    top: 4.5vw;
    transition: .5s ease;
    cursor: pointer;
}

#lil-triangle {
    width: 1.5vw;
    height: 1.5vw;
}

body > nav > div.nav-items > ul > div:nth-child(4) > select{
    width: 25x;
    height: 40px;
    border-radius: 50%;
}

body > nav > div.nav-items > ul > div:nth-child(4) > select{
    height: 40px;
    border-radius: 50%;
}

.login-btn {
    display: flex;
    align-items: center;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:transparent;
    border-radius: 3vw;
    border: 1px solid #2C3540;
    display: inline-block;
    cursor: pointer;
    color: #2C3540;
    font-size:15px;
    font-weight:bold;
    padding: 1vw 1.2vw;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

/* Menu Responsif */

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background: blue;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

/* About Area */

.about-content {
    display: flex;
    justify-content: center;
    width: 90vw;
    padding: 35px;
    margin: 30px auto;
    font-size: .9vw;
    color: white;
}

.about-content img {
    width: 30vw;
    height: 28vw;
    background-color: white;
    border-radius: 0 3vw;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C3540;
}

.about h2 {
    margin: 3vw;
}

.about #relou-title {
    font-size: 2vw;
    color: #2C3540;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 
    1px -1px 0 rgba(255, 255, 255, 0.5), 
    -1px 1px 0 rgba(255, 255, 255, 0.5), 
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.about .texts {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3vw;
}

.about .texts p {
    width: 45%;
}

.to-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Contact Area */

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 35px;
    margin: 30px 0;
    font-size: .9vw;
}

.contact-content h2 {
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

.contact-content .relou-title-sub {
    color: black;
}

#relou-title {
    position: relative;
    font-size: 1.8vw;
    letter-spacing: .5px;
    transform: translate(-.3vw, -.3vw);
    color: white;
    pointer-events: none;
    text-shadow: -1px -1px 0 rgba(44, 96, 172, .6), 
    1px -1px 0 rgba(44, 96, 172, .6), 
    -1px 1px 0 rgba(44, 96, 172, .6), 
    1px 1px 0 rgba(44, 96, 172, .6);
}

.relou-title-sub {
    position: absolute;
    color: white;
    transform: translate(-.6vw, .3vw);
    text-shadow: none;
}

.contact-form {
    width: 40vw;
    font-size: .6vw;
    margin-top: 2vw;
}

.contact-form input,
.contact-form textarea {
    font-size: 1vw;
}

.req-infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.req-infos input {
    width: 45%;
    height: 3vw;
    padding: 1vw;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 1vw;
}

.contact-form textarea {
    width: 100%;
    height: 12vw;
    padding: 1.5vw;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 1.8vw;
    resize: none;
}

.newsletter {
    display: flex;
    margin: .5vw 0;
    font-size: .8vw;
}

.newsletter input {
    margin-right: .5vw;
}

.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 3vw;
    margin-left: auto;
    margin-top: 1vw;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 1.2vw;
    background-color: transparent;
    padding: .5vw;
}

.arrow-btn img {
    width: 60%;
    height: unset;
    border-radius: 1.2vw;
    transform: translate(0, -3%);
    background-color: transparent;
}


/* Product Area */

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    padding: 35px;
    margin: 30px auto;
    font-size: .9vw;
}

.product {
    display: flex;
    margin-bottom: 6vw;
}

.product img {
    width: 30vw;
    height: 30vw;
    border-radius: 0 0 3vw 0;
}

.product-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 3vw 0;
}

.product-infos .desc {
    padding: 2vw;
    background-color: #2C60AC;
    color: white;
    border-radius: 0 0 3vw 0;
}

.product .desc h1 {
    display: flex;
    justify-content: center;
    font-size: 2.2vw;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    color: #2C60AC;
}

.product .desc h1 p {
    margin-right: .8vw;
    color: white;
    text-shadow: none;
}

.product .desc h2 {
    font-size: 1.2vw;
    margin: 1vw 0;
}

.product .desc p {
    margin-bottom: 1vw;
}

.platforms {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.platforms img {
    width: 15vw;
    height: unset;
    border-radius: 0;
    margin-left: 2.5vw;
}


.plans {
    display: flex;
    justify-content: space-between;
}

.plan {
    display: flex;
    width: 48.5%;
}

.plan.left {
    flex-direction: row-reverse;
}

.plan img {
    position: relative;
    width: 20vw;
}

.plan-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.plan-wrapper .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 2vw;
    background-color: #2C3540;
    color: white;
    border-radius: 0 0 3vw 0;
}

.plan.left .plan-wrapper .desc {
    border-radius: 0 0 0 3vw;
}



.plan-wrapper .desc p {
    margin-bottom: 2vw;
}

.plan-wrapper .desc ul {
    padding-left: 1vw;
    margin-bottom: 3vw;
}

.plan-wrapper .desc ul li {
    list-style: disc;
    margin-bottom: .2vw;
}

.plan-wrapper .desc button {
    background-color: transparent;
    border-radius: 28px;
    border: 3px solid #fff;
    display: inline-block; 
    cursor: pointer;     
    color:#fff;
    font-size: 1.1vw;
    padding: 1vw 1.5vw;
    text-decoration: none;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 2vw;

    background-color: #2C60AC;
    color: white;
}

footer img {
    width: 12vw;
    height: 8vw;
}

.footer-infos {
    display: flex;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
}

.footer-col.social {
    justify-content: flex-end;
}

.footer-col h3 {
    font-size: calc(.8vw + 6px);
    margin-bottom: 1vw;
}

.col-infos {
    font-size: calc(.7vw + 5px);
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
    border-radius: 5vw;
}

@media(max-width:600px){

    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu{
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-link{
        display: block;
        margin: 1rem 0;
    }

    .menu-icon{
        display: flex;
        padding: 25px;
    }    

}

@media (max-width:400px){

    .nav-link{
        color: white;
    }

    .navbar{
        width: 100%;
    }

}

